<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dropbox %><br>
    <%= f.text_field :dropbox %>
  </div>
  <div class="field">
    <%= f.label :news %><br>
    <%= f.text_field :news %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :quiz %><br>
    <%= f.text_field :quiz %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :section %><br>
    <%= f.number_field :section %>
  </div>
  <div class="field">
    <%= f.label :enrollment %><br>
    <%= f.number_field :enrollment %>
  </div>
  <div class="field">
    <%= f.label :maxenrollment %><br>
    <%= f.number_field :maxenrollment %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :coursetype %><br>
    <%= f.number_field :coursetype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
