<h1>My Classes</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Term</th>
      <th>Course</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachings.each do |teaching| %>
      <tr>
        <td><%= teaching.term %></td>
        <td><%= link_to Course.find(teaching.course_id).name, teaching %></td>
        <td>
          <% if can? :update, teaching %> 
          <%= link_to 'Edit', edit_teaching_path(teaching) %>
          <% end %> 
        </td>
        <td>
          <% if can? :destroy, teaching %> 
          <%= link_to 'Drop', teaching, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', icon_index_path %> 